body {
    background-image: url(/img/fondo2.png);
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
    font-family: monospace;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-image: url(/img/banner.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 150px;
    text-align: end;
    
  }
  
  h1 {
    display: none;
  }

  h2 {
    text-transform: capitalize;
}
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #00000069;
  }

  .pokemon-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    width: 200px;
  }

  .pokemon-card:hover {
    transform: translateY(-5px);
  }
  
  .pokemon-card img {
    max-width: 100px;
  }
  
  .detail-btn {
    background-color: #d34040;
    font-family: monospace;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  .detail-btn:hover {
    background-color: #555;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    font-size: 20px;
  }

  ul {
    list-style: none;
  }
  
  button {
    border: 1px solid #000000;
    padding: 10px;
    background-color: #d32828;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

input {
    width: 15%;
    padding: 5px;
}

footer {
    
    background-color: #ff00006b;
    color: #fff;
    margin-top: 50px;
    width: 100%;
    height: 200px;
    padding: 20px;

}

footer>p {
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    
}
